.clientInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 4rem auto 1rem auto;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .logoImageConatiner{
    position: relative;
    object-fit: cover;
    margin: 1em auto;
  }

  .logoImage{
    position: absolute;
  }

  .content{
    text-align: center;
    min-height: 8rem;
    padding: .4em;
    display: block;
    margin-bottom: 1rem;
  }

  .btn {
    max-width: max-content;
    padding: 0.5rem 2rem;
    margin: 1rem auto;
  }
}