@import 'variables';

.container {
  margin: 2rem auto;
  padding: auto 1rem;

  .heroImage {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    max-height: 650px;
  }
}