@import 'variables';

.container {
  margin: 2rem auto 4rem auto;
  padding: 1em 1rem;
  position: relative;
  max-width: 1200px;
  width: 100%;
  max-height: 600px;
  height: 100%;

  .heroVideo {
    display: block;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    max-height: 650px;
    object-fit: cover;
    background-size: cover;
    border-radius: 50px;
    border: 4px solid $secondary-color;

    @media screen and (max-width: 600px) {
      border-radius: 20px;
    }
  }

  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .muteButton {
    background-color: $secondary-color;
    padding: .2em;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    right: 8%;
    cursor: pointer;

    @media screen and (min-width:300px) {
      bottom: 11%;
      right: 7%;
    }

    @media screen and (min-width:1070px) {
      bottom: 3%;
      right: 4%;
    }

    @media screen and (min-width:1150px) {
      bottom: -5%;
      right: 3%;
    }



  }

}