@import 'variables';
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $secondary-color;
  gap: 0.5rem;
  padding: 2em 0;
  border-radius: 0.5rem;
  .title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
    border-bottom: 1px solid $secondary-color;
  }
  .price {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    span {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .options {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .option {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      gap: 0.5rem;
      img {
        width: 20px;
        height: 20px;
      }
      .available {
        font-size: 18px;
        font-weight: 500;
      }
      .unavailable {
        font-size: 18px;
        font-weight: 500;
        color: #878585;
      }
    }
  }
  a {
    margin: 0 auto;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.1rem;
    border: none;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #fff;
      color: $secondary-color;
    }
  }
}
