@import 'variables';

.client {
  color: white;
  width: 100%;
  max-width: 1500px;
  clear: both;
  margin: 2rem auto 2rem auto;
  min-height: 700px;
  height: max-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2rem;
  @media screen and (max-width: 600px) {
    margin-top: 15rem;
    min-height: 900px;
  }

  .animateRight {
    animation-name: rightAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .animateLeft {
    animation-name: leftAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .right {
    position: absolute;
    right: calc(50% - 170px);
    top: -5rem;
    // transform: translateX(-30%);
    @media screen and (min-width: 1200px) {
      transform: scale(1.2);
    }
    @keyframes rightAnimation {
      0% {
        right: calc(50% - 170px);
      }

      100% {
        right: calc(0%);
      }
    }
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
  .left {
    position: absolute;
    left: calc(50% - 100px);
    // transform: translateX(-35%);
    @media screen and (min-width: 1200px) {
      transform: scale(1.2);
    }
    top: 0;
    @keyframes leftAnimation {
      0% {
        left: calc(50% - 100px);
      }

      100% {
        left: calc(0%);
      }
    }

    @media screen and (max-width: 990px) {
      display: none;
    }
  }
}

.clientCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20rem;
  left: 50%;
  right: 50%;
  width: 60%;
  @media screen and (max-width: 990px) {
    display: block;
    width: 100%;
    padding: 2rem;
  }

  transform: translate(-50%, -50%);
  h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
  }
  .clientInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: justify;
    min-height: 600px;
    @media screen and (max-width: 620px) {
      width: 100%;
      padding: 2rem;
      flex-direction: column;
    }
    & > div {
      justify-content: center;
      p {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 4%;
      }
    }
    & > :nth-child(1) > :nth-child(1) {
      width: 122px;
      height: 125px;
      display: block;
      margin: 1rem auto;
    }
    & > :nth-child(2) > :nth-child(1) {
      width: 100%;
      max-width: 500px;
      height: 60px;
      display: block;
      margin: 3rem auto;
    }
  }
}
