@import 'variables';

.main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1em;

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .error {
      border: 1px solid red;
    }
    .errorText {
      color: red;
      font-size: 0.8rem;
      font-weight: 500;
    }

    input,
    textarea {
      display: flex;
      outline: none;
      flex-direction: column;
      gap: 0.5rem;
      background-color: transparent;
      border-radius: 1.2rem;
      padding: 0.8rem;
      color: #fff;
      border: 1px solid $secondary-color;
      font-size: 15px;
      font-family: var(--font-bai);
      font-weight: 300;

      &::placeholder {
        font-family: var(--font-bai);
        font-weight: 300;
      }
    }

    button {
      padding: 0.5rem 4rem;
      border-radius: 0.2rem;
      border: none;
      width: max-content;
      margin: 0 auto;
      background-color: $secondary-color;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #fff;
        color: $secondary-color;
      }
    }
    .selectBox {
      display: flex;
      flex-direction: column;
      position: relative;
      font-family: var(--font-bai);
      .topBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 1.2rem;
        border: 1px solid $secondary-color;
        padding: 0.6rem;
        color: #5e5d5d;
        cursor: pointer;
        font-family: var(--font-bai);
        .placeholder {
          font-family: var(--font-bai);
          font-weight: 300;
          font-size: 15px;
        }
      }
      .options {
        position: absolute;
        top: 48px;
        left: 0;
        background-color: #111111;
        width: 100%;
        border-radius: 1.2rem;
        border: 1px solid $secondary-color;
        padding: 0.6rem;
        font-family: var(--font-bai);
        p {
          font-family: var(--font-bai);
          color: #fff;
          cursor: pointer;
          padding: 0.5rem 0.5rem;
          &:hover {
            background-color: $secondary-color;
            color: #fff;
          }
        }
      }
    }
    .message {
      font-size: 15px;
      color: #5e5d5d;
      text-align: center;
    }
  }
  .successPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border: 1px solid $secondary-color;
    border-radius: 1rem;
    padding: 2rem;
    p {
      font-size: 36px;
      color: #fff;
      text-align: center;
      max-width: 450px;
    }
    a {
      text-decoration: none;
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: $secondary-color;
      padding: 0.5rem 1rem;
      &:hover {
        background-color: #fff;
      }
    }
  }
}
