.imageContainer {
  position: relative;
  background-color: white;
  min-height: 40vh;
  max-width: 1500px;
  margin: 0 auto;

  & > img {
    width: 100%;
    display: block;

    height: 30vh;
    object-fit: cover;
  }
  & > div {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 38vh;
    background-color: rgba(23, 23, 23, 0.49);
    border-radius: 0px 0px 0px 25px;
    z-index: 1;
    & > p:first-child {
      text-align: right;
      padding: 4rem;
      font-size: 48px;
      font-weight: 700;

      letter-spacing: 0.04em;
      text-align: left;
      max-width: 80%;
      margin: 2rem 0 0 auto;
    }
    & > p:last-child {
      position: absolute;
      text-align: right;
      bottom: 1rem;
      left: 1rem;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 0.04em;
      text-align: left;
    }

    // responsive
    // from 1099
    @media (max-width: 1400px) {
      & > p:first-child {
        font-size: 40px;
      }
      & > p:last-child {
        font-size: 50px;
      }
    }
    @media (max-width: 1280px) {
      & > p:first-child {
        max-width: 90%;
        font-size: 40px;
      }
      & > p:last-child {
        font-size: 50px;
      }
    }
    @media (max-width: 922px) {
      & > p:first-child {
        max-width: 95%;
        font-size: 40px;
        padding: 1rem;
      }
      & > p:last-child {
        font-size: 40px;
      }
    }
    @media (max-width: 550px) {
      height: 30vh;
      & > p:first-child {
        max-width: 98%;
        font-size: 20px;
        padding: 1rem;
      }
      & > p:last-child {
        font-size: 40px;
      }
    }
    @media screen and (max-width: 450px) {
      height: 25vh;
    }
  }
  @media screen and (max-width: 550px) {
    & > img {
      height: 20vh;
    }
  }
  @media screen and (max-width: 450px) {
    & > img {
      height: 18vh;
    }
  }

  //   client Info Body
}
.clientInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  gap: 6rem;

  & > * {
    width: 50%;
  }

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    & > * {
      width: 100%;
    }
  }

  & > :nth-child(1) {
    display: flex;
    flex-direction: column;
    text-align: justify;

    gap: 4rem;
    & > div > :nth-child(1) {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 1rem;
      letter-spacing: 0.04rem;
      text-transform: uppercase;
    }
    & > div > :nth-child(2) {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 1rem;
      letter-spacing: 0.04rem;
      text-align: justify;
    }
    & > div:last-child {
      display: flex;
      padding: 3rem 1rem;
      justify-content: space-evenly;

      & > div > :nth-child(1) {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-align: center;
      }
      & > div > :nth-child(2) {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-align: center;
      }
    }
  }

  .example > p {
    font-size: 28px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.04em;
    margin-bottom: 2rem;
  }
  .example > div {
    display: flex;
    flex-wrap: wrap;
    & > img {
      object-fit: cover;
      overflow: hidden;
    }
    @media screen and (max-width: 922px) {
      grid-template-columns: 1fr 1fr;
      place-items: center;
      align-content: center;
    }

    @media screen and (max-width: 1100px) {
      // & > img {
      //   width: 180px;
      //   aspect-ratio: 1/2;
      // }
    }
  }
  & > :nth-child(2) > div:nth-child(1) {
    & > p {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0.04rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }
  & > :nth-child(2) > div:nth-child(1) > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
      & > * {
        width: 100%;
      }
    }
    gap: 4rem;
    & > div > :nth-child(1) {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 1rem;
      letter-spacing: 0.04rem;
    }
    & > div > :nth-child(2) {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 1rem;
      letter-spacing: 0.04rem;
      text-align: justify;
    }
  }
}
