@import 'variables';
.main {
  margin: 2rem auto;
  padding: 1em;
  .heading {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
    max-width: max-content;
    margin: 2rem auto 4rem auto;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    padding: 0.1em 0;
  }
  .pricingWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    gap: 2rem;

    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
