@import 'variables';
.social {
  color: white;
  padding-bottom: 6rem;
  .socialTitle {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    max-width: 550px;
    margin: 2rem auto;
  }
  // make social items float left and right
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  .animateEven {
    animation-name: socialEven;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .animateOdd {
    animation-name: socialOdd;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .socialItems {
    font-size: 100px;
    @media screen and (max-width: 768px) {
      font-size: 50px;
      line-height: 100px;
    }

    font-weight: 700;
    line-height: 125px;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 8rem;
    transition: all 1s ease-in;
    text-align: center;

    .socialItemEven {
      @keyframes socialEven {
        0% {
          transform: translateX(-30%);
        }
        100% {
          transform: translateX(0%);
        }
      }
      transform: translateX(-30%);
    }
    .socialItemOdd {
      transform: translateX(30%);
      @keyframes socialOdd {
        0% {
          transform: translateX(30%);
        }
        100% {
          transform: translateX(0%);
        }
      }
    }
    // .socialItemEvenHidden {
    //   transform: translateX(30%);
    //   transition: all 1s ease-in;
    // }
    // .socialItemOddHidden {
    //   transform: translateX(-30%);
    //   transition: all 1s ease-in;
    // }
  }
}
