$primary-color: #171717;
$secondary-color: #03eeca;
$tertiary-color: #09302F;

// ============ Mixins ============
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ============ Media Queries ============
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;


.cursor-pointer {
  cursor: pointer;
}

.text-secondary {
  color: $secondary-color
}