@import 'variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: 'Bai Jamjuree';
}

html,
body {
  height: 100%;
}

.button {
  color: $primary-color;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 2px;
}

.toast {
  background-color: $secondary-color !important;
  color: $primary-color !important;
}