@import 'variables';

.aboutWrapper {
  &>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes left {
      0% {
        width: 100%;
      }
    }

    &> :nth-child(1) {
      position: relative;
      bottom: -8rem;
      height: 1px;
      width: 100%;
      background-color: $secondary-color;

      &>span {
        display: block;
        width: 0;
        height: 1px;
        background-color: $primary-color;
        animation-name: left;
        animation-duration: 2s;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &> :nth-child(3) {
      position: relative;
      top: -8rem;
      height: 1px;
      background-color: $primary-color;
      width: 100%;

      @media screen and (max-width: 768px) {
        display: none;
      }

      &>span {
        display: block;
        width: 0;
        height: 1px;
        background-color: $secondary-color;
        animation-name: left;
        animation-duration: 2s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
      }
    }
  }

  .aboutPara {
    max-width: 700px;
    padding: 2em 4em;
    margin: 4rem auto;
    text-align: justify;
    border: 1px solid $secondary-color;

    @media screen and (max-width: 768px) {
      border-top: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;
      border-left: none;
      border-right: none;
    }

    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.04em;
  }

  .teamWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem auto;
    flex-wrap: wrap;
    max-width: 1500px;
    gap: 5rem;

    .teamCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      text-align: center;
      max-width: 250px;
      position: relative;



      &:hover {
        .cardHover {

          display: block;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2em;

          p {
            display: inline-block;
          }
        }
      }

      .cardHover {
        display: none;
        position: absolute;
        top: 0;
        background-color: #171717 !important;
        width: 100%;
        height: 100%;

        p {
          display: none;
          text-align: center;
          font-size: 18px;
          color: #03eeca !important;
          font-weight: 500;
          line-height: 32px;
        }
      }

      &>div:nth-child(1) {
        border: 4px solid $secondary-color !important;
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
        z-index: 200;
      }

      &>div:nth-child(1)>div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $secondary-color;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        gap: 4rem;
        object-fit: contain;
        filter: grayscale(90);
        transform: scale(110%);
        padding: 0;
      }

      .teamInfo {
        &>p:nth-child(1) {
          font-size: 18px;
          font-weight: 500;
          line-height: 32px;
          letter-spacing: 0.04em;
        }

        &>p:nth-child(2) {
          font-size: 18px;
          font-weight: 700;
          line-height: 32px;
          letter-spacing: 0.04em;
        }
      }
    }
  }
}